body{
  background-color: rgb(0, 195, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.titulo h1{
  color: blueviolet;
  text-align: center;
}

.imagen1 img{
  display: block;
  margin: 0px auto;
  width: 150px;
  height: 180px;

}

.nombre h2{
  color: blueviolet;
  text-align: center;
}

.materia h2{
  color: blueviolet;
  text-align: center;
}